@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
display: block;
position: relative;
max-width: 960px;
/*importante para que se centre */
width: 100%;
min-height: 100vh;
margin: 0 auto;
overflow: hidden;
overflow-y: auto;
}

.lyt01 {
  /*
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    */    
}

.lyt01 header {
   
  height: 7em;

}
.lyt01 nav{
    position: relative;
    height: 3em;
}
.lyt01 nav a {
    padding: 14px 20px;
    text-decoration: none;
}

.lyt01 .row {
    display:flex ;
   
    min-height: calc(100vh - 7em - 3em - 3em);
}
.lyt01 aside {
   
   /*width: 200px;*/
   /*min-width: 200px;*/

   @apply w-52 min-h-fit
}
.lyt01 section {
    flex:70% ;
  
}

.lyt01 footer {
  
    height: 3em;
    
}
.lyt01 .push-float-left {
    float: left;
}
.lyt01 .push-float-right {
    float: right;
}

@media screen and (max-width: 640px){
    
    .lyt01 header {
        display: none;
    }
    
    .lyt01 .row {
        min-height: calc(100vh - 3em - 3em);
    }
    
    .lyt01 nav , .lyt01 .row{
        /*display:flex;*/
       /*flex-direction: column;*/
   }
   
   .lyt01 aside {
       display: none;
      
      
   }
   .lyt01 aside.section-open {
     display:block;
   }
   
   .lyt01 nav  {
    
    width: 100%;
    
   }
   .lyt01 nav a {
       display:none ;
      
   }
   
}
.lyt01 .nav-mobile {
    /*display: block;*/
    font-family: Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px black;
    /*position: relative;*/
    background: transparent;
    cursor: pointer;
    /*border: 0px;*/
    /*margin: 0px;*/
    /*margin-top: 0px;*/
    /*top: 0px;*/
    /*text-align: center;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* pointer-events: none;*/
    width: 50px;
    height: 45px;

    @apply block font-bold relative border-0 m-0 top-0 text-center

  }
  @media screen and (max-width: 640px){
      #btn-toggle-left,#btn-toggle-right,#btn-toggle-sign-in{
         display:block;

      }
  }
  @media screen and (min-width: 640px) {
    #btn-toggle-left,#btn-toggle-right,#btn-toggle-sign-in{
      display:none;

   }
  }
  .lyt01 .nav-mobile.nav-2x {
    width: 120px;
  }
  .lyt01 .nav-mobile .fa {
    font-weight: bold;
    color: #E8EAF6;
  }
  .lyt01 .nav-mobile .title {
    display: inline-block;
    color: #E8EAF6;
    vertical-align: top;
    margin-top: 5px;
    margin-left: 3px;
  }
  
  .lyt01 .center-v {
    padding-top: 3px;
  }
  
  .lyt01 .center-t {
    top: 7px;
  }
  
  .lyt01 .nav-movile:focus,.lyt01 .nav-mobile:active,.lyt01 .nav-movile:hover {
    text-decoration: none;
    background: none;
    outline: none;
   
  }
  
  .lyt01 .center {
    width: 100%;
    text-align: center;
    line-height: 64px;
    font-size: 24px;
  }
  
  .lyt01 button::-moz-focus-inner {
    border: 0;
  }
  
  .lyt01 button:focus {
    outline: 0;
  }
  
  .lyt01 .texto-btn {
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #EDE7F6;
  }
  
  .lyt01 .fix-back {
    margin: 3px;
  }
  
  .lyt01 .pages {
    display: block;
    position: relative;
    width: 100%;
    background: #E8EAF6;
  } 
  .lyt01 .main-body {
    display: block;
    position: relative;
    width: 100%;
  }  
  .lyt01 .wrapper {
    display: block;
    max-width: 960px;
    width: 100%;
    min-width: 320px;
  }

  /***********************************************************/
  .page {
    position: relative;
    top: 0;
    left: 0;
  }
  .page .nav {
    height: 3em;
    @apply bg-blue-700
  }
  .page .main {
    min-height: calc(100vh - 3em - 3em);


  }
  .page .footer {
  
    height: 3em;
    @apply bg-blue-700
    
  }
  .page .nav-mobile {
    /*display: block;*/
    font-family: Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px black;
    /*position: relative;*/
    background: transparent;
    cursor: pointer;
    /*border: 0px;*/
    /*margin: 0px;*/
    /*margin-top: 0px;*/
    /*top: 0px;*/
    /*text-align: center;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    /* pointer-events: none;*/
    /*width: 50px;*/
    height: 45px;

    @apply block font-bold relative border-0 m-0 top-0 text-center

  }
  .page .texto-btn {
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
    color: #EDE7F6;
  }
  .page .fa {
    font-weight: bold;
    color: #E8EAF6;
  }

  /*********************************************************/
  @media screen and (min-width: 640px) {
    .lyt01 .page {
      /*margin-left: 200px;*/
      width: calc(100% - 0px);
    }
  }
  .lyt01 .nav {
    position: relative;
    display: block;
    width: 100%;
  }
   
  .lyt01 .main {
    position: relative;
    display: block;
    width: 100%;
    /*overflow: hidden;*/
  }
  


  .lyt01 main {
    /* tiene que ser table --> si no menu vertical no escalara hasta abajo */
    position: relative;
    /* importante para navegadores mobiles */
    width: 100%;
    display: block;
  }
  @media screen and (min-width: 321px) {
    .lyt01 main {
      min-height: 250px;
    }
  }
  .lyt01 .footer {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .lyt01 .main-body {
    display: block;
    position: relative;
    width: 100%;
  }

  .lyt01 .childLyt, .lyt01  .childLyt1, .lyt01  .childLyt2, .lyt01  .childLyt3, .lyt01  .childLyt4, .lyt01  .childLyt5 {
  display: block;
  position: absolute;
  width: 0;
  background: #E8EAF6;
  top: 50%;
  left: 50%;
  transform: translate(-100%);
  height: 0;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media screen and (min-width: 640px) {
  .lyt01 .childLyt, .lyt01 .childLyt1, .lyt01 .childLyt2, .lyt01 .childLyt3, .lyt01 .childLyt4, .lyt01 .childLyt5 {
    margin-left: 200px;
    /*width:calc(100% - 200px)*/
  }
}
.lyt01 .childLayout, .lyt01 .childLayout1, .lyt01 .childLayout2, .lyt01 .childLayout3, .lyt01 .childLayout4, .lyt01 .childLayout5, .lyt01 .childLayout6 {
  display: block;
  position: absolute;
  width: 100%;
  background: #E8EAF6;
  top: 0;
  left: 0;
  /*transform: translateX(100%);*/
  width: 100%;
  height: 100%;
  overflow: hidden;
  overflow-y: auto;
  opacity: 0;
  /*transition: all 0.3s ease-in-out;*/
  /*z-index:50;*/
}
@media screen and (min-width: 640px) {
  .lyt01 .childLayout, .lyt01 .childLayout1,.lyt01 .childLayout2, .lyt01 .childLayout3,.lyt01 .childLayout4,.lyt01 .childLayout5,.lyt01 .childLayout6 {
    /*margin-left: 200px;*/
    width: calc(100% - 0px);
  }
}
  /*************************************************************************/
  /*************************************************************************/
  .no-animate {
    transition: all 0s;
  }
  
  .menu-vertical01 {
    /*position: relative;*/
    /*display: block; */
    /*overflow: hidden;*/
    /*list-style: none;*/
    /*height: 100%;*/
    touch-action: none;
    /*margin-left: -230px;*/
    /*width:calc(200px + 17px);*/
    /*width: 200px;  es parecido a w-52*/
    /*margin-left: -230px;*/
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    height: calc(100vh - 3em - 3em);

    @apply relative block overflow-hidden list-none w-52 bg-blue-700


  }
  @media screen and (min-width: 640px) {
    .menu-vertical01 {
      margin-left: 0;
      height: calc(100vh - 7em - 3em - 3em);
    }
  }
  .menu-vertical01 .top {
    top: 0;
    right: 0;
  }
  .menu-vertical01 .bottom {
    bottom: 0;
    right: 0;
  }
  .menu-vertical01 .slide-button {
    /*display: block;*/
    /*position: absolute;*/
    background: transparent;
    cursor: pointer;
    /*border: 0px;*/
    /*margin: 0px;*/
    width: 68px;
    height: 68px;
    border-radius: 50%;
    /*text-align: center;*/
    opacity: 0.8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*color: #E8EAF6;*/
    z-index: 12;
  
    background: -moz-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
  
    background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
   
    background: radial-gradient(ellipse at center, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f7606c88", endColorstr="#3f4c6b",GradientType=1 );
    
    @apply block absolute border-0 m-0 text-center text-blue-50

  }
  .menu-vertical01 .slide-button.no-visible {
    visibility: hidden;
  }
  .menu-vertical01 .slide-button.disabled {
    opacity: 0.2;
    cursor: not-allowed;
  }
  .menu-vertical01 .slide-button:hover {
    /*color: #E8EAF6;*/
    /*opacity: 1;*/
    background: -moz-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
   
    background: -webkit-radial-gradient(center, ellipse cover, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
   
    background: radial-gradient(ellipse at center, rgba(96, 108, 136, 0.97) 0%, rgba(96, 108, 136, 0.97) 1%, #3f4c6b 100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#f7606c88", endColorstr="#3f4c6b",GradientType=1 );
   
    @apply text-blue-100 opacity-100

  }
  .menu-vertical01 .container-menu-scroll {
    /*position: relative;*/
    /*width: 200px;*/
    /*height: 100%;*/
   
    /*overflow: hidden;*
    /*overflow-y: auto;*/
    width: calc(208px + 17px);
    
    @apply relative h-full overflow-hidden overflow-y-auto

  }
  .menu-vertical01 .container-menu-scroll .items {
    /*
       nota importante: si no establecemos height y ponemos overflow:hidden, la altura se estable por el total
       del contenido automaticamente, hasta el final, pero establecemos height, la altura se establecera hasta 
       la altura visible o vieport
       En este caso prohibido poner height:100%; aqui en items;
    */
    /*position: absolute;*/
    /*list-style: none;*/
    /*width: 200px;*/
    /*top: 0;*/
    /*left: 0;*/
    /*overflow: hidden;*/
    @apply absolute w-52 list-none overflow-hidden top-0 left-0
    /*touch-action: none;*/
  }
  .menu-vertical01 .container-menu-scroll .items .element {
    /*touch-action: none;*/
    position: static;
  }
  .menu-vertical01 .container-menu-scroll .items .element.item .element-link:hover {
    @apply bg-gradient-to-b from-blue-600 to-blue-900
    /*
    background: #3D5AFE;
   
    background: -moz-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: -webkit-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: linear-gradient(to bottom, #3D5AFE 0%, #304FFE 100%);
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3D5AFE", endColorstr="#304FFE",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .element.parent > .element-link:hover {

    @apply bg-gradient-to-b from-blue-600 to-blue-900
    /*
    background: #3F51B5;
   
    background: -moz-linear-gradient(top, #303F9F 0%, #1A237E 100%);
   
    background: -webkit-linear-gradient(top, #303F9F 0%, #1A237E 100%);
   
    background: linear-gradient(to bottom, #303F9F 0%, #1A237E 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#303F9F", endColorstr="#1A237E",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .element-link {
    /*padding: 10px;*/
    /*border-top: 1px solid #C5CAE9;*/
    /*border-bottom: 1px solid #1A237E;*/
    /*display: block;*/
    /*position: relative;*/
    /*width: 100%;*/
    /*text-decoration: none;*/
    /*color: #E8EAF6;*/
    font-family: Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px darkslategrey;
    @apply block relative bg-blue-800 text-blue-100 p-2 font-bold w-full border-t no-underline 

    /*
    background: #3F51B5;
    
    background: -moz-linear-gradient(top, #3F51B5 0%, #7986CB 0%, #3F51B5 51%, #3949AB 100%);
   
    background: -webkit-linear-gradient(top, #3F51B5 0%, #7986CB 0%, #3F51B5 51%, #3949AB 100%);
   
    background: linear-gradient(to bottom, #3F51B5 0%, #7986CB 0%, #3F51B5 51%, #3949AB 100%);
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3F51B5", endColorstr="#3949AB",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .element-link + .sub-menu {
    /*overflow: hidden;*/
    /*importante para funcionar el submenu */
    /*position: relative;*/
    /*display: block;*/
    /*padding: 0;*/
    /*margin: 0;*/
    /*opacity: 0;*/
    /*height: 0;*/
    /*border: 0;*/
    transition: all 0.3s ease-in-out;
    /*z-index: 0;*/

    @apply relative block overflow-hidden p-0 m-0 opacity-0 h-0 border-0 z-0

  }
  .menu-vertical01 .container-menu-scroll .items .element-link.expand .fa {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
  }
  .menu-vertical01 .container-menu-scroll .items .element-link.expand + .sub-menu {
    /*display: block;*/
    /*height: 100%;*/
    /*color: #E8EAF6;*/
    /*opacity: 1;*/
    
    @apply block h-full text-blue-100 opacity-100
    
  }
  .menu-vertical01 .container-menu-scroll .items .element-link.current-element {
   
    @apply bg-blue-500
    /*
    background: #3D5AFE;
  
    background: -moz-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
  
    background: -webkit-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: linear-gradient(to bottom, #3D5AFE 0%, #304FFE 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3D5AFE", endColorstr="#304FFE",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .element-link.current-element:before {
    /*display: block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    content: "";
    /*width: 100%;*/
    height: 52px;
    /*border-left: 7px solid yellow;*/
    /*padding: 0;*/

    @apply block absolute top-0 left-0 w-full p-0 border-l-8 border-yellow-400
  }
  .menu-vertical01 .container-menu-scroll .items .element-link.current-menu {
   
    @apply bg-gradient-to-b from-blue-700 to-blue-900
    /*
    background: #3F51B5;
  
    background: -moz-linear-gradient(top, #303F9F 0%, #1A237E 100%);
  
    background: -webkit-linear-gradient(top, #303F9F 0%, #1A237E 100%);
  
    background: linear-gradient(to bottom, #303F9F 0%, #1A237E 100%);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#303F9F", endColorstr="#1A237E",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .sub-menu .element-link {
    text-indent: 25px;
    @apply bg-blue-600
    /*
    background: #7986CB;
    
    background: -moz-linear-gradient(top, #7986CB 0%, #5C6BC0 44%, #5C6BC0 100%);
  
    background: -webkit-linear-gradient(top, #7986CB 0%, #5C6BC0 44%, #5C6BC0 100%);
  
    background: linear-gradient(to bottom, #7986CB 0%, #5C6BC0 44%, #5C6BC0 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#7986CB", endColorstr="#5C6BC0",GradientType=0 );
    */
  }
  .menu-vertical01 .container-menu-scroll .items .sub-menu .element-link.current-element {

    @apply bg-blue-500
    /*
    background: #3D5AFE;
   
    background: -moz-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: -webkit-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: linear-gradient(to bottom, #3D5AFE 0%, #304FFE 100%);
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3D5AFE", endColorstr="#304FFE",GradientType=0 );
     */
  }
  .menu-vertical01 .container-menu-scroll .items .sub-menu .element-link:hover {
  
    @apply bg-gradient-to-b from-blue-500 to-blue-700
    /*
    background: #3D5AFE;
  
    background: -moz-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: -webkit-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
   
    background: linear-gradient(to bottom, #3D5AFE 0%, #304FFE 100%);
  
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3D5AFE", endColorstr="#304FFE",GradientType=0 );
   */
  }
  
  .section-open .menu-vertical01 {
    /*display:block;*/
    margin-left: 0px;
  }
  
  .section-open .box.menu-area {
    /*display:block;*/
  }
  
   /*************************************************************************/
  /*************************************************************************/
  .ripple {
    /*position: relative;*/
    /*overflow: hidden;*/
    @apply relative overflow-hidden
  }
  
  .ripple:after {
    content: "";
    /*display: block;*/
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    width: 120px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    /*background: #E8EAF6;*/
    border-radius: 100%;
    /*opacity: 0.6;*/
    transform: scale(0);

    @apply block absolute top-1/2 left-1/2 bg-blue-100 opacity-60
  }
  
  @keyframes ripple {
    0% {
      transform: scale(0);
    }
    20% {
      opacity: 0.3;
      transform: scale(0.5);
    }
    100% {
      opacity: 0;
      transform: scale(1);
    }
  }
  .ripple:not(:active):after {
    animation: ripple 0.3s ease-out;
  }
  
  /* fixes initial animation run, without user input, on page load.
   */
  .ripple:after {
    visibility: hidden;
  }
  
  .ripple:focus:after {
    visibility: visible;
  }
  
  /*# sourceMappingURL=03rippleEffects01.css.map */
   /*************************************************************************/
  /*************************************************************************/

  .menu-horizontal {
    /*display:none;*/
    width: 100%;
    position: absolute;
    top: 49px;
    left: 0px;
    opacity: 0;
    padding-left: 0px;
    padding-right: 0px;
    list-style: none;
    transform: translateY(-260%);
    -webkit-transform: translateY(-260%);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -webkit-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
    /*z-index:25;*/
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal {
      /*position: absolute;*/
      transform: none;
      transition: none;
      padding-left: 5px;
      top: 0;
      left: 0;
      height: 47px;
      box-shadow: none;
      opacity: 1;
      border-top: 1px solid #7986CB;

      

    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .fa {
      display: none;
    }
  }
  .menu-horizontal .no-active {
    pointer-events: none;
    cursor: default;
  }
  .menu-horizontal .element:last-child .element-link {
    border-bottom: 1px solid #7986CB;
  }
  .menu-horizontal .element .element-link,
  .menu-horizontal .element .back-element,
  .menu-horizontal .element .sub-element {
    /*display: block;*/
    font-family: Helvetica, Arial, sans-serif;
    /*font-weight: bold;*/
    text-shadow: 1px 1px 0px black;
    /*text-decoration: none;*/
    /*color: #E8EAF6;*/
    

    @apply block bg-blue-700 text-blue-100 no-underline font-bold ;
    /*
    background: #303F9F;
   
    background: -moz-linear-gradient(top, #303F9F 0%, #283593 24%, #1A237E 88%);
   
    background: -webkit-linear-gradient(top, #303F9F 0%, #283593 24%, #1A237E 88%);
   
    background: linear-gradient(to bottom, #303F9F 0%, #283593 24%, #1A237E 88%);
   
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#303F9F", endColorstr="#1A237E",GradientType=0 );
    */


    padding: 10px;
  }
  @media screen and (min-width: 640px) {



  .menu-horizontal .element .element-link,
  .menu-horizontal .element .back-element,
  .menu-horizontal .element .sub-element {
  
      @apply bg-blue-700 border-blue-100  no-underline ;
      /*@apply bg-gradient-to-b from-blue-700 to-blue-900;*/
      /*
      background: #3F51B5;
     
      background: -moz-linear-gradient(top, #1A237E 0%, #3F51B5 100%);
    
      background: -webkit-linear-gradient(top, #1A237E 0%, #3F51B5 100%);
    
      background: linear-gradient(to bottom, #1A237E 0%, #3F51B5 100%);
     
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#1A237E", endColorstr="#3F51B5",GradientType=0 );
      */
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .element {
      /*color: #EDE7F6;*/
      /*position: relative;*/
      height: 47px;
      /*top: 0;*/
      /*left: 0;*/
      /*float: left;*/
      /*opacity: 1;*/

      @apply text-blue-100 relative top-0 left-0 float-left opacity-100
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .element:last-child .element-link {
      border-bottom: none;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .element:hover .element-link {
      border-top: 5px solid yellow;
      @apply bg-gradient-to-b from-blue-600 to-blue-900;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .element:hover .element-link + .sub-menu {
      display: block;
      left: 0;
      box-sizing: border-box;
    }
  }
  .menu-horizontal .element .element-link + .sub-menu {
    display: none;
    left: 0;
    box-sizing: border-box;
  }
  /*
  .menu-horizontal .element:hover .element-link + .sub-menu {
    display: block;
    opacity: 1;
    top:49px;
  }
  .menu-horizontal .back-element:hover  {
    display: none;
    opacity: 0;
  }
  */
  @media screen and (min-width: 640px) {
    .menu-horizontal .element:hover .element-link + .sub-menu .element-link {
      border-bottom: none;
      border-top: none;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .element:hover .element-link + .sub-menu .element-link:hover {
      box-sizing: border-box;
    }
   
  }

  @media screen and (max-width: 640px) {
    /* cuando estemos con el tamaño de pantalla mobile, el menu
    /* horizontal debe mostrar una raya blanca */
    .menu-horizontal .element .element-link {
      border-bottom: 1px solid #E8EAF6;
    }
    .menu-horizontal .element .element-link:hover {
      @apply bg-gradient-to-b from-blue-700 to-blue-900
    }
  }

  @media screen and (min-width: 640px) {
    .menu-horizontal .element .element-link {
      display: block;
      padding: 13px;
      border-right: 1px solid #E8EAF6;
    }
  }
  @media (min-width: 640px) {
    .menu-horizontal .element .back-element {
      display: none;
    }
  }
  .menu-horizontal.navbars-open {
    position: absolute;
    opacity: 1;
    transform: translateY(0%);
    -webkit-transform: translateY(0%);
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal.navbars-open {
      position: relative;
      transform: none;
      -webkit-transform: none;
    }
  }
  .menu-horizontal .back-element .fa {
    padding-top: 2px;
    padding-right: 5px;
  }
  .menu-horizontal .sub-menu {
    overflow: hidden;
    position: absolute;
    width: 100%;
    top: 0;
    /*left: 150%;*/
    min-height: 210px;
    -webkit-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 3px 5px 10px 1px rgba(0, 0, 0, 0.75);

    @apply bg-blue-700  no-underline ;
    /*
   
    background: #303F9F;
 
    background: -moz-linear-gradient(top, #303F9F 0%, #283593 24%, #1A237E 88%);
   
    background: -webkit-linear-gradient(top, #303F9F 0%, #283593 24%, #1A237E 88%);
   
    background: linear-gradient(to bottom, #303F9F 0%, #283593 24%, #1A237E 88%);
    
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#303F9F", endColorstr="#1A237E",GradientType=0 );
    */
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 30;
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .sub-menu {
      display: none;
      position: absolute;
      width: 150px;
      top: 47px;
      transition: none;
      min-height: none;
      opacity: 1;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .sub-menu .element-link {
     
      @apply bg-blue-700  no-underline ;
      /*
      background: #3F51B5;
     
      background: -moz-linear-gradient(top, #3F51B5 0%, #1A237E 100%);
     
      background: -webkit-linear-gradient(top, #3F51B5 0%, #1A237E 100%);
    
      background: linear-gradient(to bottom, #3F51B5 0%, #1A237E 100%);
    
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3F51B5", endColorstr="#1A237E",GradientType=0 );
      */
      border-right: none;
    }
  }
  @media screen and (min-width: 640px) {
    .menu-horizontal .sub-menu .element-link:hover {
      @apply bg-gradient-to-b from-blue-500 to-blue-700
      /*
      background: #3D5AFE;
    
      background: -moz-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
    
      background: -webkit-linear-gradient(top, #3D5AFE 0%, #304FFE 100%);
    
      background: linear-gradient(to bottom, #3D5AFE 0%, #304FFE 100%);
     
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#3D5AFE", endColorstr="#304FFE",GradientType=0 );
      */

    }
  }
  .menu-horizontal .sub-menu a:last-child {
    border-bottom: 1px solid #7986CB;
  }
  
  .menu-horizontal > li > a.expand + .sub-menu {
    left: 0;
    opacity: 1;
  }
  
  /*# sourceMappingURL=03menu-horizontal01.css.map */
  
   /*************************************************************************/
  /*************************************************************************/





